body {
    margin: 0;
    padding: 0;
    display: flex;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}
.container {
    min-width: 1000px;
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
}