header {
    background-color:#FFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid;
    border-bottom-color: #CCCC;
    display: flex;
    align-items: center;
    padding-left: 20px;
}