.filters {
    background-color: #ffff;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    align-items: center;
}
button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
}
button:hover {
    opacity: 90%;
}
.locations {
    width: 25%;
    height: 100%;
    border-right: 1px solid #DDDDDD;
}
.locations h3, .amenities h3 {
    margin-left: 20%;
    margin-bottom: 0;
    font-weight: 600;
}
.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-left: 20%;
    margin-top: 5px;
}
.amenities {
    margin-right: 30%;
    width: 25%;
    height: 100%;
}